.button {
-fx-background-color: #2980B9;
-fx-background-radius: 60px;
-fx-text-fill: #ffffff;
-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 3, 3);
}

.button:hover {
-fx-background-color: #D4E6F1;
-fx-text-fill: #2980b9;
-fx-transition: 0.7s;
}

.root {
-fx-background-color: #D6EAF8;
}

#welcome {
-fx-text-fill: #2980b9;
}

#hotelName {
-fx-text-fill: #154360;
}